#TypeText {
	.container-left {
		border-right: 2px solid rgb(201, 200, 200);
		min-height: 90vh;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.all-action-news {
			padding: 15px 40px;

			.title {
				font-size: 20px;
				font-weight: 500;
				margin-bottom: 10px;
			}

			.control-news {
				.add-music {
					padding: 15px;
					margin-top: 10px;
					border: 1px solid rgb(193, 193, 193);
					background: white;
					border-radius: 10px;
					cursor: pointer;
					transition: 0.5s;

					span {
						margin-left: 15px;
						font-weight: 500;
					}

					&:hover {
						color: #1677ff;
						border: 1px solid #1677ff;
					}
				}

				// Tùy chọn chỉnh sửa font, background
				.edit-content {
					margin: 15px 0;

					.custom-font-style {
						margin-top: 10px;
						display: flex;
						align-items: center;
						justify-content: space-between;
						border: 1px solid rgb(206, 205, 205);
						border-radius: 5px;
						padding: 2px 10px;
						background: white;

						.icon {
							font-style: italic;
						}
					}

					.custom-background {
						margin-top: 10px;
						padding: 10px;
						box-sizing: border-box;
						width: 100%;

						border: 1px solid rgb(204, 203, 203);
						border-radius: 5px;
						background: white;

						.title {
							font-size: 14px;
							color: gray;
							margin-bottom: none;
						}

						.option-container {
							display: flex;
							align-items: center;
							gap: 15px;
							padding: 10px 0 5px 0;

							.option {
								border: 1px solid rgb(181, 180, 180);
								display: inline-block;
								width: 30px;
								height: 30px;
								border-radius: 50%;
								overflow: hidden;
								cursor: pointer;

								img {
									width: 100%;
									height: 100%;

									object-fit: cover;
								}
							}

							.checked-radio-bg {
								border: 5px solid rgb(72, 72, 251);
							}
						}
					}
				}
			}
		}

		.action {
			padding: 25px 50px;
			border-top: 1px solid gray;
			display: flex;
			justify-content: space-between;

			button {
				padding: 0 50px;
			}
		}
	}

	.container-right {
		padding: 20px;
		min-height: 80vh;

		.preview {
			box-shadow: rgba(149, 157, 165, 0.5) 0px 0px 24px;
			border-radius: 15px;
			padding: 20px;
			min-height: 70vh;

			.title {
				font-size: 18px;
				font-weight: 500;
			}

			.background-box {
				min-height: 60vh;
				background-color: black;
				padding: 15px;
				margin-top: 20px;
				border-radius: 15px;

				display: flex;
				justify-content: center;
				align-items: center;

				.content {
					width: 250px;
					min-height: 400px;
					// height: 100%;
					border-radius: 15px;
					border: 1px solid white;

					// background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);

					display: flex;
					justify-content: center;
					align-items: center;

					///////
					///
					.text-value {
						width: 100%;
						height: auto;
						padding: 15px;
						box-sizing: border-box;
						// border: 1px solid black;
						//
						word-wrap: break-word;
						text-align: center;

						color: white;
						font-weight: 500;

						//
					}
				}
			}
		}
	}

	// Style font cho content
	.basic-font-text {
		font-family: "Times New Roman", Times, serif;
		font-size: 26px;
	}

	.model-font-text {
		font-family: "Srisakdi";
		font-size: 26px;
	}

	.classic-font-text {
		font-family: "Great Vibes", cursive;
		font-size: 30px;
	}

	// Background cho content
}
