.edit-age {
	svg {
		cursor: pointer;
	}
}

.modal-edit-age {
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 50px;
	.label {
		width: 20%;
	}

	.value-option {
		width: 50%;
	}
}
